<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

<details title='click me'>
    <summary class="text-primary">
        # Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quam asperiores delectus quod! Alias dignissimos odit cum debitis reiciendis ducimus inventore perferendis, nam praesentium dolor, facere quis ratione. Eos, accusantium expedita.
    </summary>
    <span class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolore amet tenetur. Tempora voluptatem necessitatibus perferendis inventore, dolore ipsum placeat, tempore qui? Animi, earum, dolores debitis eaque provident assumenda a iste recusandae at molestias, aspernatur odit? Qui sapiente beatae optio, est at veritatis, quaerat, fugit dolorum obcaecati tenetur incidunt fugiat dicta praesentium aliquam officia quas, voluptatem nulla. Eius in corrupti quas, alias facere numquam molestias nobis at iure quaerat animi excepturi. Ut corporis dolore velit nemo odio quia a, voluptatum harum. Autem ea pariatur porro similique, eius, totam ipsam sunt illo, modi rem beatae magni in alias dicta quis deserunt?
    </span>
</details>

<hr class="bg-dark">

