<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dicta, incidunt expedita, repudiandae asperiores culpa cum beatae fuga saepe ex numquam voluptatibus omnis consectetur dolore voluptatem molestias dolorum, consequuntur facilis necessitatibus tempora, autem. Unde rem neque ex dolorem iusto voluptatibus quia, nemo fugiat ad minus id vitae eveniet reprehenderit possimus incidunt eius. Nobis facere cum corrupti soluta voluptate debitis, vero nulla architecto quaerat at mollitia molestiae numquam delectus enim amet quasi, unde. Recusandae voluptas provident veritatis assumenda soluta, nostrum vitae vero ducimus doloremque expedita, tempora? Accusamus deserunt reprehenderit, aspernatur dignissimos nobis beatae quae, officiis unde, incidunt fugiat ab nihil expedita.</p>

<p> </p>

<iframe width="100%" height="315" src="https://www.youtube.com/embed/Ylfod7lpr6I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam reiciendis quisquam minus iure, deserunt nulla atque assumenda quidem voluptatum, dicta accusamus a corrupti, quis repudiandae repellat facere ipsam beatae similique.</p>

<b>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque quos est, vel magni fugiat dignissimos impedit perspiciatis, numquam. Tenetur soluta laborum ut magnam minima sint voluptatum corrupti voluptas ipsum beatae?</b>

<small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit iure, aperiam ea a aliquid, animi id ducimus, dolor tenetur suscipit in harum accusantium nulla. Reprehenderit saepe voluptatibus voluptas, ipsa nulla.</small>


<p> </p>

 <details title='click me'>
    <summary class="text-primary">
        # Lorem, ipsum dolor, sit amet consectetur adipisicing elit.
    </summary>
    <span class="text-danger">
        Lorem ipsum, dolor sit, amet consectetur adipisicing elit. Et tenetur, quia accusamus aspernatur quos repudiandae, ipsam? Iste quibusdam consectetur eum quis, exercitationem expedita sed, ex ducimus impedit quia itaque commodi!
    </span>
</details>


 <details title='click me'>
    <summary class="text-success">
        # Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque, sit.
    </summary>
    <span class="text-warning">
        Lorem, ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium! Molestias ducimus ad velit optio enim delectus culpa quod dolor animi et fugiat commodi dolorem temporibus, consectetur eligendi, natus, explicabo sint dolorum beatae laborum. Fuga harum asperiores in pariatur similique animi, officia. Animi temporibus corporis cumque provident soluta excepturi nihil!
    </span>
</details>


<iframe width="100%" height="315" src="https://www.youtube.com/embed/KliYgobIbmk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>